{% extends 'admin/base.html' %} {% block userlinks %}
<a href="{% url 'admin:password_change' %}"
  >{% translate 'Change password' %}</a
>
/
<a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
{% endblock %} {% block extrastyle %} {{ block.super }}
<style>
  html[data-theme="light"],
  :root {
    --primary: #222f61;
    --secondary: #1a36a3;
    --selected-row: #8f7427;
    --header-color: #1a36a3;
    --background: #363224;
    --surface: #363224;
    --text: #0f1724;
    --header-color: var(--primary);
    --selected-row: #363224;
    --danger: #d9534f;
    --success: #198754;
    --focus: #99d6ff;
    --breadcrumbs-bg: #363224;
  }

  html[data-theme="dark"] {
    --breadcrumbs-bg: #2a3240;
  }
</style>
{% endblock %}
